:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --prymari-text-color: #757575;
  --title-text-color: #212121;
  --focus-color: #2196f3;
  --main-bgc: #ffffff;
  --black-color: #000000;
}

body {
  font-family: var(--main-font);
  color: var(--prymari-text-color);
}
.list {
  list-style: none;
}

.tex-dec {
  text-decoration: none;
}

/* ================  Навигация по сайту ================ */

.web-logo {
  color: var(--focus-color);
}

.logo {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.site-nav .link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--focus-color);
}

.site-nav .link.current {
  color: var(--focus-color);
}

.contact-link {
  color: var(--prymari-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--focus-color);
}

/* ================  Навигация по сайту END ================ */

/* ================  Основная страница ================ */

.button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
}

.button:hover,
.button:focus {
  color: var(--main-bgc);
  background-color: var(--focus-color);
}

.portfolio .portfolio-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio .portfolio-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--prymari-text-color);
}
/* ================  КОНЕЦ ОСНОВНОЙ СТРАНИЦЕ ================ */
/* ================   Footer ================ */
.footer {
  background: #2f303a;
}
.logos {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-bgc);
}
.contact-list-linkm {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-bgc);
}
.contact-list-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ================ КОНЕЦ Footer ================ */
